body {
    background-size: cover;
}

.heading {
    font-size: 23px;
    margin: 0px;
    width: 100%;
}

.note {
    font-size: 16px;
    color: darkslategray;
}

.s {
    margin: 10px;
    font-size: 18px;
}

canvas {
    border: 3px ridge #e14166;
    border-radius: 20;
    margin-top: 50px;
}